// Place all the styles related to the ingredients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.ingredient__name {
	margin: 0.25rem;
	display: flex;
	justify-content: space-between;
}