// Place all the styles related to the Recipe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	font-family: sans-serif;
	background-color: #abcdef;

}

/* Nav Bar */

.navbar {
	background-color: lightgrey;
	display: flex;
	justify-content: space-between;
	width: 75%;
	margin: auto;

}


.navbar__logo, .navbar__links {
	padding: 0.5rem;

}

.navbar__link {
	color: darkgrey;
	padding: 0 0.5rem;
}

.fa {
	font-size: 25px;
	color: darkblue;
}


/* Index Grid Layout */

.grid {
	display: flex;
	justify-content: space-around;
	width: 75%;
	margin: auto;
	flex-wrap: wrap;

}

.grid__container {
	
	max-width: 400px;
	overflow: hidden;
	margin: 2% 1%;
	box-shadow: 0.25rem 0.25rem 3rem #888888;
	background-color: white;
	

	
}

.grid__image {
	&:hover {
		min-width: 100%;
		transform: scale(1.075);
	}
}

.grid__text a {
	padding: 1rem;

}

/* Show Layout */

.show-container {
	width: 75%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.recipe-container {
	display: flex;
	flex-grow: 2;
	justify-content: space-around;

}

.recipe-container__image {
	margin: 1rem;
	margin-left: 0;
}


.recipe-container__text {
	margin: 1rem;
	
}

.recipe-container__links {
	width: 100%;
	display: flex;
	justify-content: flex-start;
}

.recipe-container__link {
	padding: 1rem;
	
}



.ingredients-container {
	flex-grow: 1;
	background-color: white;
	margin: 1rem;
	margin-left: 0;
	display: flex;
	flex-direction: column;
	
}

.directions-container {
	flex-grow: 1;
	background-color: white;
	margin: 1rem 1rem 1rem 1rem	;
	margin-right: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	
}



/* New Layout */
.new {
	width: 75%;
	margin: auto;
	display: flex;
	flex-direction: column;
	

}


/* Edit Layout */
.edit-container {
	width: 75%;
	margin: auto;

}


/* Form Layout */
#message_area {
	width: 75%;
	height: 5rem;
}